<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{disableToTopLink} != 1">
    <f:if condition="{data.linkToTop}">
        <p class="frame-toTopWrap">
            <a class="frame-toTopLink" href="#top">
                <f:translate key="toTop" extensionName="fluid_styled_content"/>
            </a>
        </p>
    </f:if>
</f:if>
</html>