<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <div class="frame-type-html">
        <f:format.raw>{data.bodytext}</f:format.raw>
    </div>

</f:section>
</html>